* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


.arena-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arena {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  height: 600px;
  width: 600px;
  
}

.arena div {
  border: 1px solid #B5651D;
  flex-grow: 1;
  height: 5.555555556%;
  width: 5.555555556%;
}

.arena div.zooman {
  background-image: url('../Characters/parc-man.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}